body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: darkmagenta;
  text-decoration: underline;
}

.game {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.player {
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}

.roll-dice {
  font-size: 2rem;
  display: inline-block;
  margin: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dice {
  display: inline-block;
  margin: 10px;
}

.info-button {
  background-color: #17a2b8;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.info-button:hover {
  background-color: #138496;
}

.info-button:active {
  background-color: #117a8b;
}

@keyframes roll {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rolling {
  animation: roll 0.5s linear infinite;
}
